# At least for now, do not keep the db in src control
*.db
derby.log

# For a basic Java project
*.class

# Package Files #
*.jar
*.war
*.ear

# For Eclipse IDE
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# For IntelliJ IDE
*.iml
*.ipr
*.iws
.idea/